__pycache__
faiss_index
pdfs
*pdf
.env
*.jpg
*.wav
*.flac
*DS_Store
*jpg
*JPG
photos
artifacts
train
test
valid
.streamlit
data
*mp4
runs
build/
*info/
checkpoints/
*egg-info
data/
notebook/
wandb/
datasets/
*pth
results/
model/
*pt
*log
*txt
*csv
*log
*png