python-dotenv
# streamlit
# transformers

#pytorch
torch
torchvision
torchaudio

#llm
# langchain
# langchain-community
# langchain-google-genai
# google.generativeai
# openai
# faiss-gpu

#vector database
# astrapy
# cassio
# datasets
# tiktoken
# pinecone-client
llama-index


#notebook
ipykernel
notebook

#pdf
# pypdf

#voice
# soundfile

#image
# Pillow
# face-recognition
matplotlib


#embedding
# BCEmbedding==0.1.1
